body{
  background-color: #0E0E0E;
  color:white;
  font-family: 'Poppins', sans-serif
}

@media screen and (max-width:801px) {
  .goalCompi{
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  
  }
}

/* @media (min-width:801px){ */
  .folksable{
    /* padding:'0px 0px 0px 0px' */
    /* max-width:'1px'!important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
