body{
  background-color: rgb(3, 3, 4);
  color:white;
  font-family: 'Poppins', sans-serif
}

@media screen and (max-width:801px) {
  .goalCompi{
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center !important;
  
  }
}
